.ContactM-from1,.contarctM-addPhase,.contarctM-tenderD,.Vendor-manual-form{
    background-color: #f7f7f7;
}


.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    color: rgb(49, 49, 49);
    font-size: 18px;
    font-weight: 500;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }