
.barIcon {
    color: grey;
    font-size: 20px;
  }
  
  /* .searchbar {
    background-color: #f1f2f3;
    padding: 10px;
    margin: 0px 20px;
    border-radius: 5px;
  } */
  
 
  /* .searchbar input {
    background-color: #f1f2f3;
  } */
  
  input:focus {
    outline: none;
  }
  
  /* .header-btn:hover {
    border-radius: 50%;
    background-color: #e1ebfd;
  } */
  
  .bagCount {
    position: absolute;
    transform: translateX(10px);
    margin-top: -15px;
    background-color: #36acec;
    color: #fff;
    padding: 2px 8px;
    border-radius: 50%;
    font-size: 11px;
    font-weight: 500;
  }
  
  .bellCount {
    background-color: orangered;
  }
  
  /* .header-profile-user {
    width: 30px;
  } */
  
  @media (max-width:1024px) {
    .header {
      width: 100%;
      max-width: 100%;
    }
    .barIcon{
      display: none;
    }
    .profileDiv{
      flex-direction: column;
    }
  }
   @media (max-width:426px) {
    .searchbar{
      position: absolute;
    }
    .searchbar input{
      width: 80%;
    }
   }